* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  flex-direction: row;
  background-color: blueviolet;
  padding: 20px;
  align-items: center;
  justify-content: space-around;
  gap: 120px;
}
header h2 {
  color: white;
  font-size: 24px;
  font-weight: bold;
}
nav {
  display: flex;
}
.Navbar_ui {
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin-left: auto;
}
.Navbar_ui li {
  cursor: pointer;
  color: white;
  font-weight: bold;
}
.menu_icon {
  cursor: pointer;
  color: white;
}
.close_icon {
  cursor: pointer;
  color: white;
}

.menu_icon_div {
  display: none;
}

@media (max-width: 768px) {
  header {
    position: relative;
  }

  .Navbar_ui {
    position: fixed;
    top: 70px;
    right: -100%;
    width: 100%;
    height: calc(45vh - 70px);
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding-top: 30px;
    transition: right 0.3s ease-in-out;
  }

  .menu_icon_div {
    display: block;
  }
}
