/* .pagination {
  display: flex;
  gap: 8px;
  list-style: none;
}

.pagination li {
  cursor: pointer;
}

.pagination .active {
  font-weight: bold;
  color: red;
}  */

.Pegination {
  display: flex;
  gap: 10px;
  list-style: none;
}
.active {
  color: red;
}
.myadd {
  display: inline-block;
}
